main {
    position: relative;
    height: calc(100vh - 60px); /* full screen minus navbar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: url("../assets/images/hero\ img\ 1.webp") center/cover no-repeat;

    filter: none;
}

/* dark overlay */
main::before {
    content: "";
    position: absolute;
    inset: 0;
    /* background: rgba(0,0,0,0.5); */
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(2px);
}

/* keep content above overlay */
main * {
    position: relative;
}

main h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

main p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 25px;
}

main a {
    display: inline-block;
    background: #16a34a;
    color: white;
    padding: 12px 26px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

main a:hover {
    background: #15803d;
}