form {
    max-width: 500px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

textarea {
    min-height: 90px;
}

#locationText {
    margin-top: 10px;
    color: #16a34a;
    font-weight: bold;
}